.warn{
	color:red;
	text-align: center;
	font-size:20px;
}
.info{
	color:rgb(3, 19, 255);
	text-align:center;
	font-size:20px;
}
.explanation{
	color:rgb(3, 19, 255);
	text-align: left;
	font-size:16px;
	font-family: "lucida console";
}
#header{
	text-align: center;
}
.javaException{
	font-family:"Consolas";
	color:rgb(255,0,0);
}
.tips{
	font-style:italic;
	color:gray;
	text-align: center;
}
.tips a:link{
	color:gray;
}
.tips a:visited{
	color:silver;
}
.cgms{
	border-style: none;
	border-width:100%;
	background-color: rgb(233, 233, 233);
	border-radius:25px;
	box-shadow: 10px 10px 5px #888888;
}
.menu{
	text-align:center;
	list-style-type:none;
	margin:0;
	padding:0;
}
.menu>li{
	float:left;
}
.menu>li>a{
	height:30px;
	text-align: center;
	text-decoration:none;
	background-color: rgb(218, 218, 218);
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	display:block;
	width:60px;
}
pre,code{
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}
.easterEgg{
	background-color:black;
	border-radius:5px;
}
.findedEasterEgg{
	background-color:black;
	color:white;
	border-radius:5px;
}